extends template.pug

block title
	title#title
block styles
	styles
		link(href="/css/loginStyle.css", rel="stylesheet", type="text/css")


block content
	div(class="container-fluid")
			div(class="well")
				div(class="login-container")
					div(id="login-menu")
						ul(class="nav nav-tabs")
							li(class="active")
								a(href= homeTabPath) #{homeTab}
							li 
								a(href= secondaryTabPath) #{secondaryTab}
					div(class="form-box")
						form(action= httpAction, method="post" id="loginForm")
							input(name="user",type="text",placeholder="username")
							input(name="password",type="password",placeholder="password")
							button(class="btn btn-info btn-block login",type="submit", id="submitButton") #{submitButton}
							div #{bottomMessage}
							image#img(src = "/images/color2.gif")
		
				
